.git
.gitignore
.idea
.vscode
node_modules
npm-debug.log
yarn-error.log
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/framework/testing
vendor
.env
.env.*
Dockerfile
compose.yml
docker-compose.yml
docker/*.conf
